<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>
<body>
  <main>
    <div>
      <h1>{{ item.name }}</h1>
      <p>
        <a href="{% url 'todo_list_update' item.id %}">Edit</a>
        <a href="{% url 'todo_list_delete' item.id %}">Delete</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in item.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' item.id %}">{{task.task}}</a>
              </td>
              <td>{{ task.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
