<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Item</title>
</head>
<body>
  <main>
    <div>
      <h1>Create a New Item</h1>
      <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Create</button>
      </form>

    </div>
  </main>
</body>
</html>